.form{
	border: 3px solid #B0E5BB;
	padding: 5px;
	width: 415px;
	margin: 40px 0 0 70px;
    -webkit-box-shadow: 0px 0px 1px 1px #2D2D2D;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 1px 1px #2D2D2D;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 1px 1px #2D2D2D;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.form_name{
	font-family:sans-serif;
	font-weight: bold;
	margin-top: 25px;
	text-align: center;
	font-size: 25px;
}
.form_style{
	background-color: #B0E5BB;
	width: 400px;
	height: 300px;
	padding: 5px;
    -webkit-box-shadow: 0px 0px 1px 1px #2D2D2D;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 1px 1px #2D2D2D;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 1px 1px #2D2D2D;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.form_table{
	padding: 25px 0 0 25px;
}
input{
	margin: 5px 0 5px 0;
	height: 25px;
}
