<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <mapping class="ua.kpi.schedule.model.Group"></mapping>
        <mapping class="ua.kpi.schedule.model.Classroom"></mapping>
        <mapping class="ua.kpi.schedule.model.Lesson"></mapping>
        <mapping class="ua.kpi.schedule.model.Student"></mapping>
        <mapping class="ua.kpi.schedule.model.Subject"></mapping>
        <mapping class="ua.kpi.schedule.model.Teacher"></mapping>
        <mapping class="ua.kpi.schedule.model.TimeSlot"></mapping>
    </session-factory>
</hibernate-configuration>